body {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 1.8rem;
  font-weight: 800;
}

.cuerpo_principal {
  padding: 2rem;
}

.cuerpo {
  height: 80vh;
}


.bievenidos {
  background-color: #46347a;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.6rem;
}
.login_home {
background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-top: 60px;
padding-bottom: 60px;
}